.bg-custom {
  background-color: #3B7D67;
}

.text-custom {
  color: #3B7D67;
}

.btn-custom {
  color: #fff;
  background-color: #3B7D67;
  border-color: #3B7D67;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Barlow', sans-serif;
}
p {
    font-family: 'Barlow', sans-serif;
}